# May 23 2023
# BAG_OF_WORDS

In [1]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
text_data = np.array(['I love Brazil, Brazil!', 'Sweden is best','Germany beats both'])
count = CountVectorizer()
bag_of_words = count.fit_transform(text_data)

In [3]:
bag_of_words

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [4]:
count.get_feature_names_out()

array(['beats', 'best', 'both', 'brazil', 'germany', 'is', 'love',
       'sweden'], dtype=object)

In [5]:
bag_of_words.toarray()

array([[0, 0, 0, 2, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 0, 0]])

In [6]:
#Unigram
#bag_of_words array in to dataframe
cf = count.get_feature_names_out()
BOG = bag_of_words.toarray()

import pandas as pd
df = pd.DataFrame(BOG, columns = cf)
df

   beats  best  both  brazil  germany  is  love  sweden
0      0     0     0       2        0   0     1       0
1      0     1     0       0        0   1     0       1
2      1     0     1       0        1   0     0       0

In [7]:
#bigram

count = CountVectorizer(ngram_range=(1,2))
bag_of_words = count.fit_transform(text_data)

In [8]:
#bag_of_words array in to dataframe
cff = count.get_feature_names_out()
BOG = bag_of_words.toarray()

In [9]:
import pandas as pd
df = pd.DataFrame(BOG, columns = cff)
df

,beats,beats both,best,both,brazil,brazil brazil,germany,germany beats,is,is best,love,love brazil,sweden,sweden is
0,0,0,0,0,2,1,0,0,0,0,1,1,0,0
1,0,0,1,0,0,0,0,0,1,1,0,0,1,1
2,1,1,0,1,0,0,1,1,0,0,0,0,0,0

### TF-IDF
## Term Frequency Inverse Document Frequency

tfidf(w) = tf.log(N/df(w))

In [10]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [11]:
text_data = np.array(['I love Brazil, Brazil!', 'Sweden is best','Germany beats both'])
tfidf = TfidfVectorizer()
feature_matrix = tfidf.fit_transform(text_data) #bag_of_words ----> feature_matrix

In [12]:
#we can use .toarray to see the feature matrix
feature_matrix.toarray()

array([[0.        , 0.        , 0.        , 0.89442719, 0.        ,
        0.        , 0.4472136 , 0.        ],
       [0.        , 0.57735027, 0.        , 0.        , 0.        ,
        0.57735027, 0.        , 0.57735027],
       [0.57735027, 0.        , 0.57735027, 0.        , 0.57735027,
        0.        , 0.        , 0.        ]])

In [13]:
tfidf.vocabulary_

{'love': 6,
 'brazil': 3,
 'sweden': 7,
 'is': 5,
 'best': 1,
 'germany': 4,
 'beats': 0,
 'both': 2}

In [14]:
#bag_of_words array in to dataframe
tff = tfidf.get_feature_names_out()
FM = feature_matrix.toarray()
import pandas as pd
df = pd.DataFrame(FM, columns = tff)
df

     beats     best     both    brazil  germany       is      love   sweden
0  0.00000  0.00000  0.00000  0.894427  0.00000  0.00000  0.447214  0.00000
1  0.00000  0.57735  0.00000  0.000000  0.00000  0.57735  0.000000  0.57735
2  0.57735  0.00000  0.57735  0.000000  0.57735  0.00000  0.000000  0.00000

In [15]:
#bigram

tfidf = TfidfVectorizer(ngram_range=(1,2))
feature_matrix = tfidf.fit_transform(text_data)

In [16]:
#bag_of_words array in to dataframe
tff = tfidf.get_feature_names_out()
FM = feature_matrix.toarray()
import pandas as pd
df = pd.DataFrame(FM, columns = cff)
df

,beats,beats both,best,both,brazil,brazil brazil,germany,germany beats,is,is best,love,love brazil,sweden,sweden is
0,0.000000,0.000000,0.000000,0.000000,0.755929,0.377964,0.000000,0.000000,0.000000,0.000000,0.377964,0.377964,0.000000,0.000000
1,0.000000,0.000000,0.447214,0.000000,0.000000,0.000000,0.000000,0.000000,0.447214,0.447214,0.000000,0.000000,0.447214,0.447214
2,0.447214,0.447214,0.000000,0.447214,0.000000,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

# Special Sequences
\A, \b ......

In [54]:
# \A
# going to return match cases where the string starts with specific word
import re
text = "The categorical cat hello mycat"
text1 = "categorical cat hello mycat"
print(re.findall(r'\AThe', text))
print(re.findall(r'\AThe', text1))

['The']
[]

In [26]:
#\b

text = "categorical cat hello mycat"
re.findall(r'\bcat',text) #Starting of the 'word'

['cat', 'cat']

In [23]:
re.findall(r'cat\b',text) #ending with 'word'

['cat', 'cat']

In [27]:
matches = re.findall(r'\bcat\b',text) #starting and ending with text

In [30]:
#Write a code that returns the index of the specified pattern 'cat'
# Get the start and end positions of each match
indices = [(m.start(), m.end() - 1) for m in matches]

# Print the indices
for start, end in indices:
    print(f"Found 'cat' at index {start} to {end}")

AttributeError: 'str' object has no attribute 'start'

In [31]:
text1 = 'This is an amazing classroom, everyone speaks ENGLISH zizazo!'
text2 = 'This is a good classroom, every one speaks ENGLISH zizxzd!!'
print(re.findall(r'\Bzi', text)) # return the pattern if not at the begining of the word
print(re.findall(r'\Bzi', text1))

[]
['zi']

In [32]:
text1 = 'This is an amazing classroom, everyone speaks ENGLISH. This is Highclass!'
print(re.findall(r'\Bclass', text1)) # The o\p is from Highclass

['class']

In [ ]:
text1 = 'This is an amazing classroom, everyone speaks ENGLISH.'
print(re.findall(r'\Bclass', text1)) # The o\p is from classroom bcuz class in the above string is always at the begining

In [37]:
text1 = 'This is an amazing classroom, everyone speaks ENGLISH. classy'
print(re.findall(r'class\B', text1)) # The o\p is from classroom and classy #because is not at the end of the word

['class', 'class']

In [40]:
text1 = 'This is an amazing 2classroom, everyone speaks ENGLISH. sclassy'
print(re.findall(r'\Bclass\B', text1)) #if its not at begining and ending

['class', 'class']

In [43]:
#\d - digits are return
#\D = Non digits are returned

text1 = 'This is an amazing 2classroom, everyone speaks ENGLISH 123. sclassy'
print(re.findall(r'\d', text1))

['2', '1', '2', '3']

In [44]:
text1 = 'This is an amazing 2classroom, everyone speaks ENGLISH 123. sclassy'
print(re.findall(r'\D', text1))

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', 'n', ' ', 'a', 'm', 'a', 'z', 'i', 'n', 'g', ' ', 'c', 'l', 'a', 's', 's', 'r', 'o', 'o', 'm', ',', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e', ' ', 's', 'p', 'e', 'a', 'k', 's', ' ', 'E', 'N', 'G', 'L', 'I', 'S', 'H', ' ', '.', ' ', 's', 'c', 'l', 'a', 's', 's', 'y']

In [49]:
#\s - return all white spaces
text1 = 'This is an amazing 2classroom, everyone speaks ENGLISH 123. sclassy'
print(re.findall('\s', text1))
print(len(re.findall('\s', text1)))
print(len(re.findall(' ', text1)))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
9
9

In [48]:
#\S count all letters that are not white space
text1 = 'This is an amazing 2classroom, everyone speaks ENGLISH 123. sclassy'
print(re.findall('\S', text1))
print(len(re.findall('\S', text1)))

['T', 'h', 'i', 's', 'i', 's', 'a', 'n', 'a', 'm', 'a', 'z', 'i', 'n', 'g', '2', 'c', 'l', 'a', 's', 's', 'r', 'o', 'o', 'm', ',', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e', 's', 'p', 'e', 'a', 'k', 's', 'E', 'N', 'G', 'L', 'I', 'S', 'H', '1', '2', '3', '.', 's', 'c', 'l', 'a', 's', 's', 'y']
58

In [51]:
#\d+ to get whole number 123
text1 = 'This is an amazing 2classroom, 22everyone 2 4speaks ENGLISH 123. sclassy'
print(re.findall(r'\d+', text1))

['2', '22', '2', '4', '123']

In [65]:
#\D+ to get whole number 123
match = re.findall(r'\D+', text1)
print(match)
"".join(match)

['This is an amazing, classroom, ', ',', 'everyone. ', ' ', 'speaks ENGLISH ', '. sclassy!!']

'This is an amazing, classroom, ,everyone.  speaks ENGLISH . sclassy!!'

In [67]:
#\w = . , ! and white spacesnare not included
text1 = 'This is an amazing, classroom, 2,2everyone. 2 4speaks ENGLISH 123. sclassy!!'
matches = re.findall('\w', text1)
print(matches)
print("".join(matches))

['T', 'h', 'i', 's', 'i', 's', 'a', 'n', 'a', 'm', 'a', 'z', 'i', 'n', 'g', 'c', 'l', 'a', 's', 's', 'r', 'o', 'o', 'm', '2', '2', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e', '2', '4', 's', 'p', 'e', 'a', 'k', 's', 'E', 'N', 'G', 'L', 'I', 'S', 'H', '1', '2', '3', 's', 'c', 'l', 'a', 's', 's', 'y']
Thisisanamazingclassroom22everyone24speaksENGLISH123sclassy

In [58]:
#\W = . , ! and white spacesnare not included
text1 = 'This is an amazing, classroom, 2,2everyone. 2 4speaks ENGLISH 123. sclassy!!'
print(re.findall('\W', text1))

[' ', ' ', ' ', ',', ' ', ',', ' ', ',', '.', ' ', ' ', ' ', ' ', '.', ' ', '!', '!']

In [79]:
#\Z
text1 = 'This is an amazing, classroom, everyone. speaks ENGLISH 123. classy'
print(re.findall('classy\Z', text1)) #return the word(the word classy) if at the end

text1 = 'This is an amazing, classroom, 2,2everyone classy. 2 4speaks ENGLISH 123. english'
print(re.findall('english\Z', text1))

['classy']
['english']

# Meta Characters
[] \ .. ^ $ * + {} | ()

In [83]:
#[m-q] # return the words between m-q
text1 = 'This is an amazing, class_room, every one speaks ENGLISH 123 q. classy'
print(re.findall('[m-q]', text1)) 
print(len(re.findall('[m-q]', text1)))

['h', 'i', 'i', 'a', 'n', 'a', 'm', 'a', 'i', 'n', 'g', 'c', 'l', 'a', 'o', 'o', 'm', 'e', 'e', 'o', 'n', 'e', 'p', 'e', 'a', 'k', 'q', 'c', 'l', 'a']
10

In [84]:
#[M-Q]
text1 = 'This is an amazing, class_room, every one speaks ENGLISH 123 q. classy'
print(re.findall('[D-I]', text1))
print(len(re.findall('[D-I]', text1)))

['E', 'G', 'I', 'H']
4

In [89]:
text1 = 'This is an amazing, class_room, every one speaks ENPOGLISH 123 q. classy'
print(re.findall('[M-Q]+', text1))
print(len(re.findall('[M-Q]+', text1)))

['NPO']
1

In [87]:
#[m-q] # return the words between m-q
text1 = 'This is an amazing, class_room, every one speaks ENGLISH 123 q. classy'
print(re.findall('[m-q]+', text1)) 
print(len(re.findall('[m-q]+', text1)))

['n', 'm', 'n', 'oom', 'on', 'p', 'q']
7

In [92]:
#.(dot)
text1 = 'This is an amazing, class_room, every one speaks ENGLISH 123 q. classy c  !s'
print(re.findall('c...s', text1)) 
print(len(re.findall('c...s+', text1)))

['class', 'class', 'c  !s']
3

In [95]:
# ^
text1 = 'This is an amazing, class_room, every one speaks ENGLISH 123 q. classy The c. s'
print(re.findall('^Th', text1)) #start of string not every word 
print(len(re.findall('^Th', text1)))

['Th']
1

In [96]:
text1 = 'Tat is an amazing, class_room, every one speaks ENGLISH 123 q. classy The c   s'
print(re.findall('^Th', text1)) #Looks for string
print(len(re.findall('^Th', text1)))

[]
0

In [98]:
# |
text1 = 'Tat is an amazing, class_room, every one speaks ENGLISH 123 q. classy The c   s'
print(re.findall('^A|^T', text1)) #Looks for string, if the first condition is met that is returned
print(len(re.findall('^A|^T', text1)))

['T']
1

In [102]:
text1 = 'ETat is an amazing, class_room, every one speaks ENGLISH 123 q. classy The c   s'
print(re.findall('^A|^T', text1)) #Looks for string, if the first condition is met that is returned
print(len(re.findall('^A|^T', text1)))

[]
0

In [104]:
#[+]
text1 = 'ETat is an amazing++, class_room, every one speaks ENGLISH 123 q. classy The c  +/ s'
print(re.findall('[+]', text1)) 
print(len(re.findall('[+]', text1)))

['+', '+', '+']
3

In [105]:
#[+]
text1 = 'ETat is an amazing++, class_room, every one speaks ENGLISH 123 q. classy The c  +/ s'
print(re.findall('[+]+', text1)) 
print(len(re.findall('[+]+', text1)))

['++', '+']
2

In [108]:
#?
text = '\yes 1:30 no 12:30 maybe 1:5 test me 12:5'
print(1, re.findall(r'(\d?\d):(\d?\d)', text)) #\d? zero occurance of digit or one occurance
print(2, re.findall(r'(\d\d):(\d\d)', text))
print(3, re.findall(r'(\d?\d):(\d\d)', text))
print(4, re.findall(r'(\d\d):(\d?\d)', text))

1 [('1', '30'), ('12', '30'), ('1', '5'), ('12', '5')]
2 [('12', '30')]
3 [('1', '30'), ('12', '30')]
4 [('12', '30'), ('12', '5')]

In [111]:
#*
text = '\yes 1:30 no 1233:30 maybe 1:5 test me 12:5'
print(1, re.findall(r'(\d*\d):(\d*\d)', text)) #\d* zero occurance of digit or many occurance
print(2, re.findall(r'(\d\d):(\d\d)', text))
print(3, re.findall(r'(\d?\d):(\d\d)', text))
print(4, re.findall(r'(\d\d):(\d?\d)', text))

1 [('1', '30'), ('1233', '30'), ('1', '5'), ('12', '5')]
2 [('33', '30')]
3 [('1', '30'), ('33', '30')]
4 [('33', '30'), ('12', '5')]

In [113]:
text = 'hello 12 hi 89, Howdy 34'
pattern = '\d+'
result = re.findall(pattern, text)
print(result)

['12', '89', '34']

In [114]:
text = 'abc 12 de 23, Howdy d34 6'
pattern = '\s+'
replace=''
result = re.sub(pattern, replace,text)
print(result)

abc12de23,Howdyd346

In [115]:
text = '#UNSG @ NY Society for Ethyical Culture bit.ly/2gyuu @UN @UN_Women '
tokens = text.split()
[w for w in tokens if re.search('@[a-zA_Z]+', w)]

[]